<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Log In page</title>
    <link rel="stylesheet" href="/static/k_style.css">
</head>

<body>

<H1>Log in Page insert your name:</H1>

<form action="/kanban" method="get" class="input_form">
    
    <input type="text" value="Enter your name" name="t" id="login" class="input_text">
    <p></p>
    <input type="submit" value="Add" id='submit_login'>


<script src="/static/log_in_record.js"></script> 
</body>
</html>