<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/static/k_style.css">

    <title>KANBAN</title>
</head>

<H1>kamban page</H1>

<nav class='navigation'>
    <ul>
            <li><a href="/add_task"> Add a new task </a></li>
            <li><a href="/all_clean">clear completed task</a></li>
            
    </ul>
  </nav>

<div class="task_zone">
    <div class="new_all">
        <div>
        <h2>Task to complete</h2>
        </div>
    <div class="new">
        <div class="task_box_test">
            $$ALL OPEN$$
        </div>
    </div>
    </div>
    <div class="done_all">
            <div>   
                <h2>Task completed</h2>
            </div>
        
        <div class="done">
            <div class=task_box_test>
                    $$ALL COMPLETED $$
            </div>
        </div>
    </div>



</div>

<body>
    
</body>
</html>