<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/static/k_style.css">
    <title>Task Completed</title>
</head>
<body>
        <nav>
                <ul>
                        <li><a href="/kanban"> KANBAN page </a></li>
                        <li><a href="/add_task"> Add a new task </a></li>
                        <li><a href="">clear completed task</a></li>
                        
                </ul>
        </nav>

    <h1>Congratulation, you completed the task</h1>
    
</body>
</html>