<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/static/k_style.css">
    <title>New Task Created</title>
</head>
<h1> the new task has been created !</h1>

<nav>
        <ul>
                <li><a href="/kanban"> Back to the main page </a></li>
                
                
        </ul>
      </nav>
<body>
    
</body>
</html>